*,
*::before,
*::after{
box-sizing: border-box;
}

body{  
margin: 0;
}

svg {
    display: block;
    background-color: #6e629d8c;
}

section.universite {
    width: 21.25vw;
    height: 75vh;
    overflow-y: scroll;
    background-color: #6e629d8c;
}

section.universite p {
    width: fit-content;
    margin-left: 30px;
    margin-right: auto;
}

.universite p::before{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color);
    display: inline-block;
    position: relative;
    left: -20px;
    top: 5px;
    padding: 5px;
}

.universite p:hover{
    cursor: pointer;
}

.flexbox{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}