/* 
    font-family: 'Imprima', sans-serif;
    font-family: 'Kavoon', serif;
    font-family: 'Khula', sans-serif; 
*/

*,
*::before,
*::after{
box-sizing: border-box;
}
:root{
    --out: #A2678A;
}

body{ 
    /* position: fixed; */
    /* height: 100vh; */
    /* width: 100vw; */
    /* overflow-y: scroll; */
    padding: 0;
    margin: 0;
    background-color: #E19898;
    /* scroll-snap-type: y mandatory; */
}

header{
    scroll-snap-align: center;
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: bottom;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, rgba(104, 112, 114, 0) 40%, #A2678A 80%);
    overflow: hidden;
}
main{
    /* scroll-snap-align: start; */
    /* scroll-snap-type: y mandatory; */
    height: 200vh;
    background-color: #A2678A;
}
.logo {
    margin-top: 5vh;
    width: 55vh;
    height: 55vh;
    background-image: url("sources/datavizlogo.png");
    background-position: center; 
    background-size: cover;   
}
.backstat {
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}
.G{
    width: 48vw;
    height: 130vh;
    background-image: url("sources/statG.png");
    background-position: center;
    background-size: cover;   

}
.D{
    width: 48vw;
    height: 130vh;
    background-image: url("sources/statD.png");
    background-position: center;
    background-size: cover;   

}
.blabla{
    /* width: 100vw; */
    /* scroll-snap-align: center; */
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #A2678A 0%, #A2678A7a 10%, #A2678A7a 85%, #A2678A 100%), url("sources/fond1.png");
    background-position: center;
    background-size: 100%;
    /* font-family: 'Kavoon', serif; */
}
.title{
    text-align: center;
    font-size: 5rem;
    font-family: 'Kavoon', serif;
    font-weight: 400;
    mix-blend-mode: luminosity;
    display: flex;
    justify-content: center;
    position: relative;
}
.norm{
    color: #A473FF;
    margin: 0%;
    z-index: 1;
}
.ombre{
    color: #4C35A3;
    position: absolute;
    left: -10px;
    top: -3px;
    margin: 0%;
    z-index: 0;
}
.blabla p{
    position: relative;
    top: -70px;
    left: -7vw;
    font-size: 1.5rem;
    font-family: 'Khula', sans-serif;
    font-weight: 400;
    margin: 0%;
    /* margin-top: 2vh; */
    margin-bottom: 2vh;
    width: 70vw;
    /* mix-blend-mode: luminosity; */
}

.graphc{
    height: 100vh;
    background: linear-gradient(180deg, #A2678A00 0%, #A2678A 20%,#A2678A 80%, #E19898 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    /* scroll-snap-align: center; */
}
/* #F6ABFF, #72FFDD */

.graphc h2{
    position: absolute;
    z-index: 0;
    /* width: 300vw; */
    text-align: center;
    font-family: 'Kavoon', serif;
    font-weight: 400;
    margin: 0;
    /* font-size: 6rem; */
    font-size: 40vh;
    color: #E19898;
    /* text-shadow: 2px 0 #4D3C77, -2px 0 #4D3C77, 0 2px #fff, 0 -2px #fff, 1px 1px #4D3C77, -1px -1px #fff, 1px -1px #4D3C77, -1px 1px #fff; */
    text-shadow: 4px 0 #3F1D38, -4px 0 #3F1D38, 0 4px #3F1D38, 0 -4px #3F1D38, 4px 4px #3F1D38, -4px -4px #3F1D38, 4px -4px #3F1D38, -4px 4px #3F1D38;
    /* border: solid pink; */
}

svg {
    display: block;
    background-color: #4D3C778c;
}

section.universite {
    width: 21.25vw;
    height: 75vh;
    overflow-y: scroll;
    background-color: #4D3C778c;
}

section.universite p {
    width: fit-content;
    margin-left: 30px;
    margin-right: auto;
}

.universite p::before{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color);
    display: inline-block;
    position: relative;
    left: -20px;
    top: 2.5px;
}

.flexbox{
    /* margin-top: 5vh; */
    display: flex;
    position: relative;
    z-index: 3;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    /* border: solid #3F1D38; */
}

select{
    background-color: #4D3C778c;
    color: white;
    border: none;
    /* font-family: 'Kavoon', serif; */
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
}